* text=auto
*.md text eol=lf
*.json text eol=lf
*.py text eol=lf
*.yml text eol=lf
*.ts text eol=lf
*.js text eol=lf
*.cjs text eol=lf
*.sh text eol=lf
*.html text eol=lf
Dockerfile text eol=lf
.dockerignore text eol=lf
.gitattributes text eol=lf
*.png binary
*.jpg binary
